#student-planner {
    max-width: 900px;
    margin: auto;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
}

 .weekly-planner  {
     table-layout: fixed;
     /*white-space: nowrap;*/
    width: 100em !important;
    height: 50em !important;


}



